/* Advanced */
body
{
	background: url("../images/movie.jpg") no-repeat fixed center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

h4:hover
{
	background-color: red;
	
}

.jumbotron 
{
	margin-top: 74px;
	width: 1123px;
	position: relative;
	left: 18px;
}

#title
{
	text-align: center;
	position: relative;
	bottom: 40px;
}

.questionsContainer
{
	/*display: none;*/
}

.resultsContainer
{
	display: none;
}

#start
{
	background: red;
}

#done
{
	background: red;

	 display: none;
}
.result
{
	text-align: center;
}

.Timer
{
	text-align: center;
	display: none;
}

.Q1
{
	text-align: center;
	display: none;
}

.Q2
{
	text-align: center;
	display: none;
}

.Q3
{
	text-align: center;
	display: none;
}

.Q4
{
	text-align: center;
	display: none;
}

.Q5
{
	text-align: center;
	display: none;
}

.correctPage
{
	display: none;
	text-align: center;
}

.incorrectPage
{
	display: none;
	text-align: center;
}

.outOfTimePage
{
	display: none;
	text-align: center;
}
